.title{
    font-weight: bold;
    font-size: 16px;
    border-bottom: 4px solid black;
}


table {
    background-color: whitesmoke;
    border-radius: 4px;

}

.mat-form-field{
    width: 100% !important;
}

:host::ng-deep .p-datatable .p-datatable-tbody > tr > td{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 1% !important;
}



.td-title{
    padding-top: 2%;
}

td {
    padding-left: 2%;
    padding-right: 2%;
}

.cmh-bgcolor {
    background-color: #4CAF50;
}