<p-toast></p-toast>
<ngx-spinner></ngx-spinner>

<div class="row">

    <!-- FORM -->
    <div  class="col-md-12 ">
        <button (click)="openAddUser(null)" class="btn btn-info" 
        style="background-color: #4CAF50; border: none;"
        >
            <i class="fa fa-plus" ></i>
            Nouveau profil
        </button>
    </div>
   

    <!-- TABLE -->
    <div class="col-md-12 form" style="margin-top: 1%;" >
        <p-table #dt1 [value]="profils" [paginator]="true" [rows]="10"
        [responsive]="true"
        [globalFilterFields]="['roleName']"
        [style]="{'font-size':'14px', 'width':'100%'}"
         >
         <ng-template pTemplate="caption">
            <div class="p-d-flex" style="text-align: center;" >
                Liste des profils &nbsp;&nbsp;
                   <input pInputText type="text" 
                       (input)="dt1.filterGlobal($event.target.value, 'contains')" 
                       placeholder="Entrer un mot clé" />
               
           </div>
        </ng-template>
         <ng-template pTemplate="header">
            <tr>
                <th style="width: 15%;" >Libelle</th>
                <th style="width: 13%;" >Description</th>
                <th style="width: 13%;" >Date creation</th>
                <th style="width: 28%;" >Habiitations</th>
                <th *ngxPermissionsOnly="['ADMIN_ADD_PROFIL']" style="width: 10%;" >Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
            <tr>
                <td>{{car.roleName | uppercase}}</td>
                <td>{{car.description}}</td>
                <td>{{car.dateCreated | dateformat }}</td>
                <td>{{car.privileges | formatrole }}</td>
                <td *ngxPermissionsOnly="['ADMIN_ADD_PROFIL']" >
                    <button 
                   [disabled]="car.roleName == 'SUPER ADMIN'"
                    (click)="open(car)" class="btn btn-info" style="background-color: #4CAF50; border: none;" >
                        <i class="fa fa-pencil" ></i>
                    </button>&nbsp;
                    <button 
                    [disabled]="car.roleName == 'SUPER ADMIN'"
                    (click)="deleteProfil(car)" class="btn btn-danger" > 
                    <i class="fa fa-trash" ></i>        
                </button>
                </td>
            </tr>
        </ng-template>
        
         </p-table>
    </div>
</div>