<div class="sidebar-logo">
    ADMINISTRATION
  </div>
  <ul class="sidebar-navigation">
    
    <li >
      <a routerLink="/administration/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
        <i class="fa fa-shield" aria-hidden="true"></i> Gestion profil
      </a>
    </li>
    <li >
      <a routerLink="/administration/user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
        <i class="fa fa-id-card" aria-hidden="true"></i> Gestion utilisateur
      </a>
    </li>

    <li >
      <a routerLink="/administration/export/localite" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
        <i class="fa fa-id-card" aria-hidden="true"></i> Gestion Localité
      </a>
    </li>

    <li >
      <a routerLink="/administration/export/unite" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
        <i class="fa fa-id-card" aria-hidden="true"></i> Gestion des unités
      </a>
    </li>

    <li >
      <a routerLink="/administration/param-infraction" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
        <i class="fa fa-id-card" aria-hidden="true"></i> Parametrage des infraction
      </a>
    </li>


  
    
  </ul>