.sidebar-container {
  position: fixed;
  width: 220px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #1a1a1a;
  color: #fff;
  background-color: #01579B;
}

.content-container {
  padding-left: 220px;
  background-image: url("../../../login/src/assets/images/wallpaper1.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.content {
  min-height: 100%;
  height: 100%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
}

:host::ng-deep .p-splitbutton .p-menu {
  left: 0px !important;
}

.copy {
  color: white;
}

.top-menu{
  height: 50px;
  background-color: whitesmoke;
  text-align: right;
}

.content-container {
  padding-top: 20px;
  height: 100%;
  background-repeat: no-repeat, repeat;
    background-size: cover;
    border-radius: 4px;
    height: 100%;
}

button {
  border: none !important;
}

button:active {
  border: none !important;
}

  /*  user logout css start   */
  :host::ng-deep .p-splitbutton-menubutton > .p-button-label {
    display: none !important
}

:host::ng-deep .p-splitbutton-defaultbutton {
  background-color: white;
  color: black;
  border: none;
}

:host::ng-deep .p-splitbutton-defaultbutton:hover {
  background-color: white;
  color: black;
  border: none;
}

:host::ng-deep .p-splitbutton-menubutton {
  background-color: white;
  color: black;
  border: none;
}

:host::ng-deep .p-splitbutton-menubutton:hover {
  background-color: white;
  color: black;
  border: none;
}

/*  user logout css end   */
