<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>


<div class="sidebar-container">
  <app-nav></app-nav>
  </div>
  <div class="content-container" style="padding-top: 0px !important;" >
      <div class="container-fluid" >
        <div class="row">
          <div class="col-md-12 top-menu" style="color: black; padding-top: 6px;" > 
            
            <div class="row">
              <div class="col-md-9"></div>
              <div class="col-md-3">
                <p-splitButton icon="pi pi-user" label="{{username}}" [model]="items">
      
                </p-splitButton>
              </div>
            </div>

          </div>
    
          <div class="col-md-12 content">
              <router-outlet></router-outlet>
          </div>

        </div>
        <!-- Main component for a primary marketing message or call to action -->
    
      </div>

    </div>
