.title{
    font-weight: bold;
    font-size: 16px;
    border-bottom: 4px solid black;
}

.form {
    margin-top: 2%;
}

.search-input{
    float: right;
}

table {
    background-color: whitesmoke;
    border-radius: 4px;

}

:host::ng-deep .p-datatable .p-datatable-tbody > tr > td{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 1% !important;
}

.deleted{
    background-color: whitesmoke !important;
    color: red !important;
}

.mat-form-field{
    width: 95% !important;
}

.td-title{
    padding-top: 2%;
}

td {
    padding-left: 2%;
    padding-right: 2%;
}