<p-toast></p-toast>
<ngx-spinner></ngx-spinner>

<div class="row">

    
    <!-- FORM -->
    <div *ngxPermissionsOnly="['ADMIN_EDIT_USER']"  class="col-md-12 ">
        <button (click)="openAddUser(null)" class="btn btn-info" 
        style="background-color: #4CAF50; border: none;"
        >
            <i class="fa fa-plus" ></i>
            Créer un utilisateur
        </button>
    </div>

    <!-- TABLE -->
    <div class="col-md-12 form">
        <p-table #dt1 [value]="users" [paginator]="true" [rows]="10"
        [responsive]="true"
        [globalFilterFields]="['firstName','lastName','phoneNumber']"
        [style]="{'font-size':'14px', 'width':'100%'}"
         >

         <ng-template pTemplate="caption" >
             <div class="p-d-flex" style="text-align: center;" >
                 Liste des utilisateurs &nbsp;&nbsp;
                    <input pInputText type="text" 
                        (input)="dt1.filterGlobal($event.target.value, 'contains')" 
                        placeholder="Entrer un mot clé" />
                
            </div>
         </ng-template>
         <ng-template pTemplate="header">
            <tr>
                <th style="width: 20%;" >Nom</th>
                <th style="width: 13%;" >Date naissance</th>
                <th style="width: 10%;" >Telephone</th>
                <th style="width: 13%;" >Email</th>
                <th style="width: 5%;" >Login</th>
                <th style="width: 18%;" >Profils</th>
                <th *ngxPermissionsOnly="['ADMIN_EDIT_USER', 'ADMIN_DEL_USER']"  style="width: 18%;" >Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
            <tr [ngClass]="{
                'deleted':car.active==false
            }" >
                <td>{{car.firstName}} {{car.lastName}} </td>
                <td>{{car.dateOfBirth | dateformat }}</td>
                <td>{{car.phoneNumber}}</td>
                <td>{{car.email}}</td>
                <td> {{car.login}} </td>
                <td>{{car.roles | rolename }}</td>
                <td *ngxPermissionsOnly="['ADMIN_EDIT_USER', 'ADMIN_DEL_USER']" >
                    <button *ngxPermissionsOnly="['ADMIN_EDIT_USER']" (click)="open(car)" class="btn btn-info" style="background-color: #4CAF50;" 
                    [disabled]="car.login == 'ADMIN'"
                    >
                        <i class="fa fa-pencil" ></i>
                    </button>&nbsp;
                    <button *ngxPermissionsOnly="['ADMIN_DEL_USER']" 
                        (click)="delete(car)"
                        [disabled]="car.active == false || car.login == 'ADMIN'"
                         class="btn btn-danger" >
                        <i class="fa fa-trash" ></i>    
                    </button>&nbsp;

                    
                    <button *ngxPermissionsOnly="['ADMIN_INIT_USER']" (click)="init(car)" 
                    class="btn btn-info" >
                        <i class="fa fa-refresh" ></i>    
                    </button>
                </td>
            </tr>
        </ng-template>
        
         </p-table>
    </div>
</div>