<p-toast></p-toast>

<div class="row">
    <div class="col-md-12">
        <table style="width: 100%;" >
            <tr>
                <td class="title" >
                    <h3>Information victime</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field  style="width: 100%;"class="">
                        <mat-label>Nom</mat-label>
                        <input type="text"
                               aria-label="Number"
                               matInput
                               [(ngModel)]="victime.nom"
                                name="nom"
                                [formControl]="myControl"
                               [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" 
                        [displayWith]="displayFn" >
                          <mat-option *ngFor="let option of filterNoms | async" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                </td>
            </tr>

                <tr>
                    <td>
                        <mat-form-field style="width: 100%;" class="">
                            <mat-label>Prenom</mat-label>
                            <input matInput
                            [(ngModel)]="victime.prenom"
                            name="prenom"
                            
                            >
                          </mat-form-field> 
                    </td>
                </tr>
            
                <tr>
                    <td>
                        <mat-form-field style="width: 100%;" >
                            <mat-label>Selectionner le sexe</mat-label>
                            <mat-select 
                            [(ngModel)]="victime.sexe"
                            name="privileges"
                            [required]="true"
                             >
                            <mat-option *ngFor="let item of typeSexe" [value]="item.code">
                            {{item.label}}
                            </mat-option>
                              <!--<mat-option *ngFor="let s of habilitations | orderBy:'name'" [value]="s.code">{{s.name}}</mat-option>-->
                            </mat-select>
                          </mat-form-field>
                    </td>
                </tr>
        

            <tr>
                <td>
                    <mat-form-field style="width: 100% !important;" color="accent" >
                        <mat-label>Date de naissance</mat-label>
                        <input matInput
                        [(ngModel)]="victime.dateNaissance"
                        name="dateNaissance"
                        readonly
                        
                        [matDatepicker]="picker1"
                        >
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                </td>
                
            </tr>

            <tr>
                <td>
                    <mat-form-field style="width: 100%;" class="">
                        <mat-label>Lieu de naissance</mat-label>
                        <input matInput
                        [(ngModel)]="victime.lieuNaissance"
                        name="lieuNaissance"
                        
                        >
                      </mat-form-field> 
                </td>
            </tr>
            <tr>
                <td>
                      <mat-form-field style="width: 90%;" >
                        <mat-label>Nationalité</mat-label>
                        <mat-select 
                        [(ngModel)]="victime.cameroonian"
                        name="nationalite"
                        [required]="true"
                         >
                        <mat-option *ngFor="let item of nationality | orderBy" [value]="item.code">
                        {{item.label}}
                        </mat-option>
                        </mat-select>
                      </mat-form-field>
                </td>
            </tr>

            <tr>
                <td >
                    <mat-form-field style="width: 100%;" class="">
                        <mat-label>Adresse</mat-label>
                        <input matInput
                        [(ngModel)]="victime.adresse"
                        name="adresse"
                        
                        >
                      </mat-form-field> 
                </td>
            </tr>
            <tr>

                <td >
                    <mat-form-field style="width: 100%;" class="">
                        <mat-label>Téléphone</mat-label>
                        <input matInput
                        [(ngModel)]="victime.telephone"
                        name="telephone"
                        
                        >
                      </mat-form-field> 
                </td>
            </tr>
            <tr>
                <td >
                    <mat-form-field style="width: 100%;" >
                        <mat-label>Etat</mat-label>
                        <mat-select 
                        [(ngModel)]="victime.etat"
                        name="etat"
                        [required]="true"
                         >
                        <mat-option *ngFor="let item of etat" [value]="item.code">
                        {{item.label}}
                        </mat-option>
                        </mat-select>
                      </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    <button class="btn btn-primary" (click)="save()" >
                        <i class="fa fa-check" ></i>&nbsp;
                        Sauvegarder et quitter
                    </button>
                    &nbsp;
                    <button *ngIf="data.obj !=null" class="btn btn-info" (click)="addNew()" >
                        <i class="fa fa-plus" ></i>&nbsp;
                        Ajouter une victime</button>
                    &nbsp;
                    <button *ngIf="data.obj ==null"  class="btn btn-danger" (click)="delete()" >
                        <i class="fa fa-trash" ></i> &nbsp;
                        Supprimer
                    </button>
                    &nbsp;
                    <button class="btn btn-warning" (click)="cancel()" >
                        <i class="fa fa-times" ></i>&nbsp;
                        Annuler</button>
                    &nbsp;
                </td>                
            </tr>
        </table>
    </div>
</div>