<p-toast></p-toast>

<div class="row">
    <div class="col-md-12">
        <table style="width: 100%;" >
            <tr>
                <td class="title" >
                    <h3>Information Arme</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field style="width: 100%;" class="">
                        <mat-label>Reférence de la procédure</mat-label>
                        <input matInput
                        [(ngModel)]="enquete.referenceProcedure"
                        name="referenceProcedure"
                        required
                        >
                      </mat-form-field> 
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field style="width: 100%;" class="">
                        <mat-label>Parquet compétant</mat-label>
                        <input matInput
                        [(ngModel)]="enquete.parquetCompetant"
                        name="parquetCompetant"
                        required
                        >
                      </mat-form-field> 
                </td>
            </tr>
            
            <tr>
                <td >
                    <mat-form-field style="width: 100%;" class="">
                        <mat-label>Affaire</mat-label>
                        <input matInput
                        [(ngModel)]="enquete.affaire"
                        name="affaire"
                        required
                        >
                      </mat-form-field> 
                </td>
            </tr>

            <tr>
                <td >
                    <mat-form-field style="width: 100%;" class="">
                        <mat-label>Cadre juridique</mat-label>
                        <input matInput
                        [(ngModel)]="enquete.cadreJuridique"
                        name="cadreJuridique"
                        required
                        >
                      </mat-form-field> 
                </td>
            </tr>
            <tr>
                <td >
                    <mat-form-field style="width: 100%;" class="">
                        <mat-label>Coordonnées OPJ</mat-label>
                        <input matInput
                        [(ngModel)]="enquete.coordonneesOpj"
                        name="coordonneesOpj"
                        required
                        >
                      </mat-form-field> 
                </td>
            </tr>
            <tr>
                <td >
                    <mat-form-field style="width: 100% !important;" appearance="fill" class="">
                        <mat-label>Résumé des faits</mat-label>
                        <textarea matInput
                        [(ngModel)]="enquete.resumeFaits"
                        name="resumeFaits"
                        required
                        ></textarea>
                      </mat-form-field> 
                </td>
            </tr>
            <tr>
                <td>
                    <button 
                    class="btn btn-primary" (click)="save()" >
                        <i class="fa fa-check" ></i>&nbsp;
                        Sauvegarder et quitter
                    </button>
                    &nbsp;
                    
                    <button class="btn btn-danger" (click)="delete()" >
                        <i class="fa fa-trash" ></i>&nbsp;
                        Supprimer</button>
                    &nbsp;
                </td>                
            </tr>


        </table>
    </div>
</div>