<p-toast></p-toast>

<div class="row justify-content-center">
    <div class="col-md-6 upload">

        <input type="file" (change)="onFileChange($event)" id="actual-btn" hidden/>
        <label for="actual-btn">
            Importer le fichier
        </label>

    </div>

    <div class="col-md-12">
        <p-table #dt1 [value]="params"
        [responsive]="true"
        [responsive]="true"
        [style]="{'font-size':'14px', 'width':'100%'}"
        >
            <ng-template pTemplate="caption">
                Liste des infractions &nbsp;&nbsp;
                <button (click)="saveDatas()" 
                [disabled]="params.length < 1"
                class="btn btn-info" style="background-color: #43A047;" >
                    Enregistrer
                </button>
                &nbsp;&nbsp;
                <button (click)="add()" class="btn btn-info" >
                    <i class="fa fa-plus" ></i>
                    Ajouter une infraction
                </button>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 33%;" >DESIGNATION INFRACTIONS</th>
                    <th style="width: 33%;" >Catégorie infraction</th>
                    <th style="width: 33%;" >Poste Infraction</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car>
                <tr>
                    <td>{{car.designationInfraction}}</td>
                    <td>{{car.categorieInfraction}}</td>
                    <td>{{car.posteInfraction }}</td>
                    


                </tr>
            </ng-template>
        </p-table>
    </div>
</div>