<p-toast></p-toast>
<ngx-spinner></ngx-spinner>

<mat-horizontal-stepper linear #stepper>
    <mat-step>
        <ng-template matStepLabel>Etape 1</ng-template>
      <table style="width: 100%;" >
          <tr>
              <td>
                <mat-form-field>
                  <mat-label>Région</mat-label>
                  <mat-select 
                  [(ngModel)]="locality.region"
                  name="region"
                  (selectionChange)="getDepartement($event)"
                  [required]="true"
                   >
                  <mat-option *ngFor="let item of regions | orderBy" [value]="item">
                  {{item}}
                  </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>

              <td>

                <mat-form-field>
                  <mat-label>Département</mat-label>
                  <mat-select 
                  [(ngModel)]="locality.departement"
                  name="departement"
                  (selectionChange)="getArrondissement($event)"
                  [required]="true"
                   >
                  <mat-option *ngFor="let item of departements | orderBy" [value]="item">
                  {{item}}
                  </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>



              <td colspan="2" >
                <mat-form-field>
                  <mat-label>Arrondissement</mat-label>
                  <mat-select 
                  [(ngModel)]="locality.arrondissement"
                  name="arrondissement"
                  [required]="true"
                   >
                  <mat-option *ngFor="let item of arrondissements | orderBy" [value]="item">
                  {{item}}
                  </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
          </tr>

          <tr>

            <td colspan="2" >
              <mat-form-field>
                <mat-label>Délégation</mat-label>
                <mat-select 
                [(ngModel)]="delegation"
                name="delegation"
                (selectionChange)="getUnite($event)"
                [required]="true"
                 >
                <mat-option *ngFor="let item of delegations | orderBy" [value]="item">
                {{item}}
                </mat-option>
                </mat-select>
              </mat-form-field>
            </td>

            <td colspan="2" >  

              <mat-form-field>
                <mat-label>Unité</mat-label>
                <mat-select 
                [(ngModel)]="locality.unite"
                name="unite"
                [required]="true"
                 >
                <mat-option *ngFor="let item of unites | orderBy" [value]="item">
                {{item}}
                </mat-option>
                </mat-select>
              </mat-form-field>

            </td>
          </tr>

          <tr>
            




            <td colspan="2" >
              <mat-form-field>
                <mat-label>Infraction commise</mat-label>
                <mat-select 
                [(ngModel)]="infractionCommises"
                name="infractionCommise"
                (selectionChange)="getInfractions($event)"
                [required]="true"
                 >
                <mat-option *ngFor="let item of infractions | orderBy" [value]="item">
                {{item}}
                </mat-option>
                </mat-select>
              </mat-form-field>
            </td>

            <td>
              <mat-form-field class="">
                <mat-label>Cateéorie infraction</mat-label>
                <input matInput
                [(ngModel)]="infraction.categorie"
                name="categorie"
                readonly
                required
                >
              </mat-form-field> 
            </td>
        
            <td>
                <mat-form-field>
                    <mat-label>Type de Saisine</mat-label>
                    <mat-select 
                    [(ngModel)]="infraction.typeSaisie"
                    name="privileges"
                    [required]="true"
                     >
                    
                    <mat-option *ngFor="let item of typeSaisie | orderBy: 'label'" [value]="item.code">
                    {{item.label}}
                    </mat-option>
                      <!--<mat-option *ngFor="let s of habilitations | orderBy:'name'" [value]="s.code">{{s.name}}</mat-option>-->
                    </mat-select>
                  </mat-form-field>
            </td>

           

        </tr>

        <tr>
          
          <td>
            <mat-form-field class="">
                <mat-label>Référence de la saisine </mat-label>
                <input matInput
                [(ngModel)]="infraction.rreferenceSaisie"
                name="rreferenceSaisie"
                required
                >
              </mat-form-field> 
          </td>
          
          <td>
            <mat-form-field style="width: 90% !important;" color="accent" >
                <mat-label>Du</mat-label>
                <input matInput
                [(ngModel)]="infraction.date"
                name="dateSaisie"
                readonly
                required
                [matDatepicker]="picker1"
                >
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
          </td>
          
          <td>
            <mat-form-field class="">
                <mat-label>à</mat-label>
                <input matInput
                [(ngModel)]="enquete.lieu"
                name="lieu"
                required
                >
              </mat-form-field> 
          </td>

          <td  >
            <mat-form-field class="">
                <mat-label>Village (ou Quartier)</mat-label>
                <input matInput
                [(ngModel)]="infraction.adressePrecise"
                name="asressePrecise"
                required
                >
              </mat-form-field> 
          </td>
      </tr>
        <tr>
            <td>
                <button 
                [disabled]='infraction.adressePrecise ==null || infraction.adressePrecise.length ==0'
                matStepperNext class="btn btn-info" >Suivant</button>
            </td>
        </tr>
      </table>
    </mat-step>
    <mat-step >
        <ng-template matStepLabel>Etape 2</ng-template>
        <table style="width: 100%;" >
            <tr>
                <td>
                  <mat-form-field class="">
                      <mat-label>Référence procédure</mat-label>
                      <input matInput
                      [(ngModel)]="enquete.referenceProcedure"
                      name="referenceProcedure"
                      (keyup.enter)="onEnter()"
                      required
                      >
                    </mat-form-field> 
                </td>
  
                <td>
                  <mat-form-field class="">
                      <mat-label>Parquet compétant</mat-label>
                      <input matInput
                      [(ngModel)]="enquete.parquetCompetant"
                      name="parquetCompetant"
                      required
                      >
                    </mat-form-field> 
                </td>
            </tr>
  
            <tr>
              <td>
                <mat-form-field class="">
                    <mat-label>Affaire</mat-label>
                    <input matInput
                    [(ngModel)]="enquete.affaire"
                    name="affaire"
                    required
                    >
                  </mat-form-field> 
              </td>
  
              <td>
                <mat-form-field>
                    <mat-label>Cadre juridique</mat-label>
                    <mat-select 
                    [(ngModel)]="enquete.cadreJuridique"
                    name="cadreJuridique"
                    [required]="true"
                     >
                    
                    <mat-option *ngFor="let item of cadreJuridique" [value]="item.code">
                    {{item.label}}
                    </mat-option>
                      <!--<mat-option *ngFor="let s of habilitations | orderBy:'name'" [value]="s.code">{{s.name}}</mat-option>-->
                    </mat-select>
                  </mat-form-field>
              </td>
          </tr>

          <tr>
            <td>
                <mat-form-field style="width: 80% !important;" class="">
                    <mat-label>Nom, prénom et Grade de l'OPJ</mat-label>
                    <input matInput
                    [(ngModel)]="enquete.coordonneesOpj"
                    name="coordonneesOpj"
                    
                    >
                  </mat-form-field>  
            </td>
            <td>
                <mat-form-field style="width: 80% !important;" class="">
                    <mat-label>Nom, prénom et Grade des assistants</mat-label>
                    <input matInput
                    [(ngModel)]="enquete.coordonneesAssistant"
                    name="coordonneesAssistant"
                    
                    >
                  </mat-form-field>  
            </td>
          </tr>
          <tr>
            <td colspan="2" >
                <mat-form-field style="width: 95% !important;" appearance="fill" class="">
                    <mat-label>Résumé des faits</mat-label>
                    <textarea matInput
                    [(ngModel)]="enquete.resumeFaits"
                    name="resumeFaits"
                    required
                    ></textarea>
                  </mat-form-field> 
            </td>
          </tr>

          <tr>
            <td>
                <button matStepperPrevious class="btn btn-info" >Précédent</button>&nbsp;
                <button 
                [disabled]="enquete.referenceProcedure == null || enquete.referenceProcedure.length ==0 || enquete.cadreJuridique == null"           
                matStepperNext class="btn btn-info" >Suivant</button>
            </td>
          </tr>
        </table>
      </mat-step>
    <mat-step>
        <ng-template matStepLabel>Etape 3</ng-template>
        <table class="table-box" >
          <tr>
            <td>Veuillez completez les victimes</td>
          </tr>
          <tr>
            <td class="td-box"  >
              <div class="lib-bloc" >
                <label class="span-lib" *ngFor="let v of victimes; let idx=index" >
                  {{v.nom}}
                  <button class="btn-lin" 
                  (click)="removeVictimeItem(idx)"
                  >
                    <i class="fa fa-times" ></i>
                  </button>
                </label>
            </div>
                  
                  <button title="ajouter une coordonnée" (click)="addVictime()" class="btn btn-info">
                    <i class="fa fa-plus" ></i>
                  </button>  
            </td>
        </tr>
        <tr class="spacer"></tr>
        <tr>
          <td>Veuillez completez les mise en cause</td>
        </tr>
        <tr>
          <td class="td-box" >
            <div class="lib-bloc" >
                <label class="span-lib" *ngFor="let m of miseencauses; let idx=index" >
                  {{m.nom}}
                  <button class="btn-lin" 
                  (click)="removeMecItem(idx)"
                  >
                    <i class="fa fa-times" ></i>
                  </button>
                </label>
            </div>
            
            <button title="ajouter une coordonnée" (click)="addMiseEnCause()" class="btn btn-info">
              <i class="fa fa-plus" ></i>
            </button>

      </td>
      </tr>
      <tr class="spacer"></tr>

      <tr>
        <td>Veuillez completez les armes</td>
      </tr>
      <tr>
        <td class="td-box" >
            <div class="lib-bloc" >
              <label class="span-lib" *ngFor="let v of armes; let idx=index" >
                {{v.type}}
                <button class="btn-lin" 
                (click)="removeArmeItem(idx)"
                >
                  <i class="fa fa-times" ></i>
                </button>
              </label>
          </div>
                <button title="ajouter une coordonnée" (click)="addArme()" class="btn btn-info">
                  <i class="fa fa-plus" ></i>
                </button>  
      </td>
      </tr>
      <tr class="spacer"></tr>

      <tr>
        <td>Veuillez completez les Stupéfiants</td>
      </tr>
      <tr>
          <td class="td-box" >
            <div class="lib-bloc" >
                <label class="span-lib" *ngFor="let v of stupefiants; let idx=index" >
                  {{v.nature}}
                  <button class="btn-lin" 
                  (click)="removeStupefiantItem(idx)"
                  >
                    <i class="fa fa-times" ></i>
                  </button>
                </label>
            </div>
                    <button title="ajouter une coordonnée" (click)="addStupefiant()" class="btn btn-info">
                      <i class="fa fa-plus" ></i>
                    </button>
          </td>

      </tr>
      <tr class="spacer"></tr>

      <tr>
        <td>Veuillez completez les Véhicules volés</td>
      </tr>
      <tr>

        <td class="td-box" >
          <div class="lib-bloc" >
            <label class="span-lib" *ngFor="let v of vehicules; let idx=index" >
              {{v.marque}}
              <button class="btn-lin" 
              (click)="removeVehiculeItem(idx)"
              >
                <i class="fa fa-times" ></i>
              </button>
            </label>
        </div>
                <button title="ajouter une coordonnée" (click)="addVehiculeVole()" class="btn btn-info">
                  <i class="fa fa-plus" ></i>
                </button>
      </td>
      </tr>
      <tr class="spacer"></tr>
      <tr class="spacer"></tr>


            <tr>
                <td>
                    <button matStepperPrevious  class="btn btn-info" >Précédent</button>&nbsp;
                    <button matStepperNext (click)="save()" class="btn btn-info" >Suivant</button>
                </td>
            </tr>
        </table>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="row" >
        <div *ngIf="isError == '0'" class="col-md-12 alert alert-success" style="text-align: center;" >  
              <i class="fa fa-check" ></i> Opération terminée
              <app-cre
              [enquete]="response"
              ></app-cre>
        </div>
        


        

        <div *ngIf="isError == '1'" class="col-md-12 alert alert-danger" style="text-align: center;" >            
          <i class="fa fa-check" ></i> Echec de l'opération
        </div>



      </div>
      <button *ngIf="isError == '1'" matStepperPrevious  class="btn btn-info" >Précédent</button>&nbsp;
      <button *ngIf="isError == '0'" (click)="stepper.reset()"  class="btn btn-info" >
        <i class="fa fa-plus" ></i> &nbsp;
        Nouvel enregistrement
      </button>&nbsp;

    </mat-step>
  </mat-horizontal-stepper>
  