.title{
    border-bottom: 4px solid black;
    font-weight: bold;
}

.form-table{
    margin-top: 2%;
}

.mat-form-field{
    width: 85% !important;
}
.btn-lin{
    border: none;
}

.span-lib{
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    padding: 4px;
    border-radius: 10%;
}

.lib-bloc{
    width: 95%;
    height: 40px;
    float: left;
}

.td-box {
    border-bottom: 1px solid black;
}

.spacer {
    height: 20px;
}

.table-box{
    width: 90%;
    border-spacing: 2px;
    border-collapse: separate;
}