/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
    background-image: url("assets/images/wallpaper3.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif; }
