
    <!-- FORM -->
    <div class="col-md-12 ">
        <form name="userForm" #userForm="ngForm" >
            <table style="width: 100%;" cellpadding="4px" >
                <tr>
                    <td class="td-title" colspan="6" >
                        <h4 class="title" > INFORMATION UTILISATEEUR </h4>
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <mat-form-field class="">
                            <mat-label>Nom</mat-label>
                            <input matInput
                            class="upper"
                            [(ngModel)]="user.firstName"
                            name="nom"
                            required
                            [readonly]="isInit == true"
                            >
                          </mat-form-field>
                    </td>

                    
                    <td>
                        <mat-form-field class="">
                            <mat-label>Prenom</mat-label>
                            <input matInput
                            class="capital"
                            [(ngModel)]="user.lastName"
                            name="lastName"
                            [readonly]="isInit == true"
                            >
                          </mat-form-field>
                    </td>

                    
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Profil</mat-label>
                            <mat-select 
                            [(ngModel)]="role"
                            name="roles"
                            required
                            [disabled]="isInit == true"
                             >
                              <mat-option *ngFor="let s of profiles" [value]="s.id">{{s.roleName | uppercase }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field style="width: 100%;" color="accent" appearance="fill">
                            <mat-label>Date de naissance</mat-label>
                            <input matInput
                            [(ngModel)]="user.dateOfBirth"
                            name="dateOfBirth"
                         [min]="minDate"
                         [max]="maxDate"
                            required
                            [disabled]="isInit == true"
                            [matDatepicker]="picker1"
                            >
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>
                        
                    </td>

                    


                </tr>
                <tr>


                    <td>
                        <mat-form-field class="">
                            <mat-label>Telephone</mat-label>
                            <input matInput
                            [(ngModel)]="user.phoneNumber"
                            name="phoneNumber"
                            [readonly]="isInit == true"
                            >
                          </mat-form-field>
                    </td>

                    <td colspan="2" >
                        <mat-form-field class="">
                            <mat-label>Email</mat-label>
                            <input matInput
                            [(ngModel)]="user.email"
                            name="email"
                            [readonly]="isInit == true"
                            >
                          </mat-form-field>

                    </td>

                    <td *ngIf="user.id == null && isInit != true" >
                        <mat-form-field class="">
                            <mat-label>Mot de passe</mat-label>
                            <input matInput
                            type="password"
                            [(ngModel)]="user.defaultPassword"
                            name="defaultPassword"
                            >
                          </mat-form-field>
                    </td>

                    

                </tr>

                <tr>
                    <td >
                        <mat-checkbox class="example-margin" 
                            [(ngModel)]="user.active"
                            [disabled]="user.id == null ||  isInit == true"
                            name="active"
                            >
                            Active
                        </mat-checkbox>
                    </td>
                </tr>


                <tr>
                    <td colspan="4" style="text-align: center; padding-bottom: 2%; padding-top: 2%;" >
                        <button (click)="add()" 
                        [disabled]="userForm.form.invalid"
                        class="btn btn-primary" style="background-color: #4CAF50; border: none; width: 150px;" >
                            <i class="fa fa-check" ></i>
                            Sauvegarder</button> &nbsp;

                        <button mat-button mat-dialog-close (click)="cancel()" class="btn btn-danger" style="width: 150px" >
                            <i class="fa fa-times" ></i>
                            Annuler</button>
                    </td>
                </tr>
                
            </table>
        </form>
    </div>