.title{
    font-weight: bold;
    font-size: 16px;
    border-bottom: 4px solid black;
}

.form {
    margin-top: 2%;
}

.upper {
    text-transform: uppercase;
}
.capital {
    text-transform: capitalize;
}

.mat-form-field{
    width: 95% !important;
}

.form {
    padding: 0px !important;
}

.search-input{
    float: right;
}


.mat-form-field{
    width: 95% !important;
}


td {
    padding-left: 2%;
    padding-right: 2%;
}