<p-toast></p-toast>

<div class="row">
    <div class="col-md-12 card">
        <table style="width: 100%;" >
            <tr>
                <td>
                    <mat-form-field style="width: 90%;" >
                        <mat-label>Du</mat-label>
                        <input matInput 
                        [(ngModel)]="seachDto.debut"
                        name="datedebut"
                        [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                        
                </td>
                
                <td>
                    <mat-form-field style="width: 90%;" >
                        <mat-label>Au</mat-label>
                        <input matInput 
                        [(ngModel)]="seachDto.fin"
                        name="dateFin"
                        [matDatepicker]="picker0">
                        <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                        <mat-datepicker #picker0></mat-datepicker>
                      </mat-form-field>
                </td>
                <td>
                    <mat-form-field style="width: 100%;" >
                        <mat-label>Selectionner le type</mat-label>
                        <mat-select 
                        [(ngModel)]="type"
                        name="type"
                        (selectionChange)="getCriteeria($event)"
                        [required]="true"
                         >
                        <mat-option *ngFor="let item of stats" [value]="item.code">
                        {{item.label}}
                        </mat-option>
                          <!--<mat-option *ngFor="let s of habilitations | orderBy:'name'" [value]="s.code">{{s.name}}</mat-option>-->
                        </mat-select>
                      </mat-form-field>
                </td>

                <td>
                    <mat-form-field style="width: 100%;" >
                        <mat-label>Selectionner le critere</mat-label>
                        <mat-select 
                        [(ngModel)]="critere"
                        name="critere"
                        [required]="true"
                         >
                        <mat-option *ngFor="let item of criteria" [value]="item.code">
                        {{item.label}}
                        </mat-option>
                          <!--<mat-option *ngFor="let s of habilitations | orderBy:'name'" [value]="s.code">{{s.name}}</mat-option>-->
                        </mat-select>
                      </mat-form-field>
                </td>

                <td>
                    <button (click)="loadDatas()" class="btn btn-info cmh-bgcolor" style="width: 150px;" >
                        <i class="fa fa-search" ></i>
                        Rechercher
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>