
<div class="row">
      <div class="col-md-12">
          <form name="infForm" #infForm="ngForm">
              <table style="width: 100%;" >
                  <tr>
                      <td class="title" >
                          <h3>Parametrage des Unités</h3>
                      </td>
                  </tr>
                  <tr>
                      <td>
                        <mat-form-field style="width: 90%;" >
                              <mat-label>Selectionner la categorie</mat-label>
                              <mat-select 
                              [(ngModel)]="tmpdelegation"
                              name="delegation"
                              [required]="true"
                               >
                              <mat-option *ngFor="let item of delegations" [value]="item">
                              {{item}}
                              </mat-option>
                              </mat-select>
                            </mat-form-field>
                      </td>
                      <td>
                          <mat-form-field style="width: 90%;" class="">
                              <mat-label>Designation</mat-label>
                              <input matInput
                              [(ngModel)]="unite"
                              name="unite"
                              
                              >
                            </mat-form-field> 
                      </td>

                      
                  </tr>

                  <tr *ngIf="tmpdelegation == 'AUTRE'" >
                        <td colspan="3" >
                              <mat-form-field style="width: 90%;" class="">
                                  <mat-label>Categorie infraction</mat-label>
                                  <input matInput
                                  [(ngModel)]="delegation"
                                  name="delegation"
                                  
                                  >
                                </mat-form-field> 
                          </td>
                  </tr>
      
                  
      
                  
      
      
                  <tr>
                      <td colspan="2" >
                          <button 
                          class="btn btn-primary" 
                          [disabled]="infForm.form.invalid"
                          (click)="save()" >
                              <i class="fa fa-check" ></i> &nbsp;
                              Terminer
                          </button>
                          &nbsp;
                          
      
                          &nbsp;
                          <button class="btn btn-danger" (click)="cancel()" >
                              <i class="fa fa-times" ></i>&nbsp;
                              Quitter
                          </button>
      
                      </td>                
                  </tr>
              </table>
  
          </form>
      </div>
  </div>