.upload{
    text-align: center;
    height: auto;
}



label {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 200px;
    padding: 3%;
    margin-top: 1rem;
    font-size: 20px;
  }

  :host::ng-deep .p-datatable .p-datatable-tbody > tr > td{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 1% !important;
}