<p-toast></p-toast>

<div class="row justify-content-center">


        <input type="file" (change)="onFileChange($event, 'unite')" id="actual-btn" hidden/>
        <label for="actual-btn">
            Importer les unités
        </label>

        &nbsp;&nbsp;&nbsp;
        <input type="file" (change)="onFileChange($event, 'localite')" id="actual-btn0"  hidden/>
        <label for="actual-btn0">
            Importer les localités
        </label>




<div *ngIf="type == 'unite'"class="col-md-12">
    <div class="col-md-12">
        <p-table #dt1 [value]="unites"
        [responsive]="true"
        [responsive]="true"
        [style]="{'font-size':'14px', 'width':'100%'}"
        >
            <ng-template pTemplate="caption">
                Liste des localités chargés &nbsp;&nbsp;
                <button (click)="saveDatas()" 
                [disabled]="localites.length < 1 && unites.length <1"
                class="btn btn-info" style="background-color: #43A047;" >
                    Enregistrer
                </button>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 33%;" >Regions</th>
                    <th style="width: 33%;" >Unité</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car>
                <tr>
                    <td>{{car.delegation}}</td>
                    <td>{{car.unite}}</td>
                    
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>



<div  *ngIf="type == 'localite'" class="col-md-12">
    <div class="col-md-12">
        <p-table #dt1 [value]="localites"
        [responsive]="true"
        [responsive]="true"
        [style]="{'font-size':'14px', 'width':'100%'}"
        >
            <ng-template pTemplate="caption">
                Liste des localités chargés &nbsp;&nbsp;
                <button (click)="saveDatas()" 
                [disabled]="localites.length < 1"
                class="btn btn-info" style="background-color: #43A047;" >
                    Enregistrer
                </button>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 33%;" >Regions</th>
                    <th style="width: 33%;" >Departement</th>
                    <th style="width: 33%;" >Arrondissement</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car>
                <tr>
                    <td>{{car.region}}</td>
                    <td>{{car.departement}}</td>
                    <td>{{car.arrondissement }}</td>
                    


                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
</div>