<p-toast></p-toast>

<div class="row">
    <div class="col-md-12">
        <table style="width: 100%;" >
            <tr>
                <td class="title" >
                    <h3>Information stupéfiant</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field  style="width: 100%;"class="">
                        <mat-label>Stupefiant</mat-label>
                        <input type="text"
                               aria-label="Number"
                               matInput
                               [(ngModel)]="stupefiant.nature"
                                name="nature"
                                [formControl]="myControl"
                               [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" 
                        [displayWith]="displayFn" >
                          <mat-option *ngFor="let option of filterNatures | async" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                </td>
            </tr>

                <tr>
                    <td>
                        <mat-form-field style="width: 100%;" class="">
                            <mat-label>Quantité</mat-label>
                            <input matInput
                            [(ngModel)]="stupefiant.quantite"
                            name="prenom"
                            required
                            >
                          </mat-form-field> 
                    </td>
                </tr>

            <tr>
                <td>
                    <mat-form-field style="width: 100%;" class="">
                        <mat-label>Provenance</mat-label>
                        <input matInput
                        [(ngModel)]="stupefiant.provenance"
                        name="provenance"
                        required
                        >
                      </mat-form-field> 
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field style="width: 100%;" class="">
                        <mat-label>Destination</mat-label>
                        <input matInput
                        [(ngModel)]="stupefiant.destinattion"
                        name="destination"
                        required
                        >
                      </mat-form-field> 
                </td>
            </tr>

            <tr>
                <td >
                    <mat-form-field style="width: 100%;" >
                        <mat-label>Etat</mat-label>
                        <mat-select 
                        [(ngModel)]="stupefiant.etat"
                        name="etat"
                        [required]="true"
                         >
                        <mat-option *ngFor="let item of etat" [value]="item.code">
                        {{item.label}}
                        </mat-option>
                        </mat-select>
                      </mat-form-field>
                </td>
            </tr>


            <tr>
                <td>
                    <button class="btn btn-primary" 
                    *ngIf="type != 'edit'"
                    (click)="save()" >
                        <i class="fa fa-check" ></i>&nbsp;
                        Sauvegarder et quitter
                    </button>

                    <button class="btn btn-primary" 
                    *ngIf="type == 'edit'"
                    (click)="edit()" >
                        <i class="fa fa-check" ></i>&nbsp;
                        Modifier
                    </button>
                    &nbsp;
                    <button *ngIf="data.obj !=null" class="btn btn-info" (click)="addNew()" >
                        <i class="fa fa-plus" ></i>&nbsp;
                        Ajouter un stupéfiant</button>
                    &nbsp;
                    <button *ngIf="data.obj ==null"  class="btn btn-danger" (click)="delete()" >
                        <i class="fa fa-trash" ></i> &nbsp;
                        Supprimer
                    </button>
                    &nbsp;
                    <button class="btn btn-warning" (click)="cancel()" >
                        <i class="fa fa-times" ></i>&nbsp;
                        Annuler</button>
                    &nbsp;
                </td>                
            </tr>
        </table>
    </div>
</div>