<p-toast></p-toast>
<ngx-spinner></ngx-spinner>

<div class="container page">
    <div class="row page justify-content-center align-items-center" >
        <div class="col-md-5 login">

            <h4 class="title" >Connexion</h4>
            <table style="width: 90%;" >
                
                <tr class="top" >
                    <td>
                        <mat-form-field style="width: 100%;" class="example-full-width" >
                            <mat-label>Login</mat-label>
                            <input matInput 
                            [(ngModel)]="loginDto.login"
                            name="login"
                            placeholder="Saisissez votre login" value="">
                          </mat-form-field>
                    </td>
                </tr>

                <tr   *ngIf="isDefaultUser == false">
                    <td>
                        <mat-form-field style="width: 100%;" class="example-full-width" >
                            <mat-label>Mot de passe</mat-label>
                            <input matInput 
                            type="password"
                            [(ngModel)]="loginDto.password"
                            name="password"
                            placeholder="Saisissez votre mot de passe" value="">
                          </mat-form-field>
                    </td>
                </tr>

                <tr   *ngIf="isDefaultUser == true">
                    <td>
                        <mat-form-field style="width: 100%;" class="example-full-width" >
                            <mat-label>Mot de passe</mat-label>
                            <input matInput 
                             type="password"
                            [(ngModel)]="loginDto.password"
                            name="password"
                            placeholder="Saisissez votre mot de passe" value="">
                          </mat-form-field>
                    </td>
                </tr>
                <tr   *ngIf="isDefaultUser == true">
                    <td>
                        <mat-form-field style="width: 100%;" class="example-full-width" >
                            <mat-label>Confirmer le mot de passe</mat-label>
                            <input matInput 
                            type="password"
                            [(ngModel)]="confirmpassword"
                            name="confirmpassword"
                            placeholder="Saisissez votre mot de passe" value="">
                          </mat-form-field>
                    </td>
                </tr>

                <tr  *ngIf="isDefaultUser == false" >
                    <td style="text-align: right;" >
                        <button class="btn btn-primary"
                        (click)="login()"
                        >Se connecter</button>
                    </td>
                </tr>

                <tr  *ngIf="isDefaultUser == true" >
                    <td style="text-align: right;" >
                        <button class="btn btn-primary"
                        (click)="editPwd()"
                        >Modifier mon mot de passe</button>
                    </td>
                </tr>
            
            </table>
        </div>
    </div>
</div>