.page{
    height: 100% !important;
}

.title {
    border-bottom: 3px solid black;
    font-size: 20px;
    font-weight: bold;
}
.top{
    margin-top: 20%;
}

.login {
    border: none;
    padding: 3% 4%;
    border-radius: 5%;
    background-color: #B3E5FC;
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;

}

table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
  }
