
  <div class="content-container" style="padding-top: 0px !important;" >
    <div class="container-fluid" >
      <div class="row">
        <div class="col-md-12 top-menu" style="color: black; padding-top: 6px;" > 
          <p-splitButton icon="pi pi-user" label="{{username}}" [model]="items">
      
          </p-splitButton>

        </div>
  
        <div class="col-md-12 content">
            <app-home></app-home>
        </div>
      </div>
      <!-- Main component for a primary marketing message or call to action -->
  
    </div>
  </div>