<p-toast></p-toast>
<ngx-spinner></ngx-spinner>

<div class="row justify-content-center">
    <div *ngIf="isLoad == false" class="col-md-6 upload">

        <input type="file" (change)="onFileChange($event)" id="actual-btn" hidden/>
        <label for="actual-btn">
            Importer le fichier
        </label>

    </div>

    <div class="col-md-12">
        <p-table #dt1 [value]="params"
        [responsive]="true"
        [responsive]="true"
        [paginator]="true"
        [rows]="12"
        [style]="{'font-size':'14px', 'width':'100%'}"
        >
            <ng-template pTemplate="caption">
                Liste des infractions &nbsp;&nbsp;
                <button  (click)="saveDatas()" 
                [disabled]="isLoad == true"
                class="btn btn-info" style="background-color: #43A047;" >
                    Enregistrer
                </button>
                &nbsp;&nbsp;
                <button (click)="add()" class="btn btn-info" >
                    <i class="fa fa-plus" ></i>
                    Ajouter une infraction
                </button>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 33%;" >DESIGNATION INFRACTIONS</th>
                    <th style="width: 33%;" >Catégorie infraction</th>
                    <th style="width: 33%;" >Poste Infraction</th>
                    <th style="width: 10%;" >Actions</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car>
                <tr>
                    <td>{{car.designationInfraction}}</td>
                    <td>{{car.categorieInfraction}}</td>
                    <td>{{car.posteInfraction }}</td>
                    
                    <td>
                        <button 
                        (click)="add(car)"
                         class="btn btn-info" >
                        <i class="fa fa-pencil" ></i>    
                    </button>&nbsp;

                    
                    <!--<button 
                    (click)="delete(car)" 
                    class="btn btn-danger" >
                        <i class="fa fa-trash" ></i>    
                    </button>-->
                    </td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</div>