<p-toast></p-toast>

<div class="row">
    <div class="col-md-12">
        <table style="width: 100%;" >
            <tr>
                <td class="title" >
                    <h3>Information Arme</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field  style="width: 100%;"class="">
                        <mat-label>Type</mat-label>
                        <input type="text"
                               aria-label="Number"
                               matInput
                               [(ngModel)]="arme.type"
                                name="unite"
                                [formControl]="myControl"
                               [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" 
                        [displayWith]="displayFn" >
                          <mat-option *ngFor="let option of filterTypes | async" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field style="width: 100%;" class="">
                        <mat-label>Numéro</mat-label>
                        <input matInput
                        [(ngModel)]="arme.numero"
                        name="chasis"
                        required
                        >
                      </mat-form-field> 
                </td>
            </tr>
            
            <tr>
                <td >
                    <mat-form-field style="width: 100%;" >
                        <mat-label>Etat</mat-label>
                        <mat-select 
                        [(ngModel)]="arme.etat"
                        name="etat"
                        [required]="true"
                         >
                        <mat-option *ngFor="let item of etat" [value]="item.code">
                        {{item.label}}
                        </mat-option>
                        </mat-select>
                      </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <button 
                    class="btn btn-primary" (click)="save()" >
                        <i class="fa fa-check" ></i>&nbsp;
                        Sauvegarder et quitter
                    </button>
                    &nbsp;
                    <button *ngIf="data.obj !=null" class="btn btn-info" (click)="addNew()" >
                        <i class="fa fa-plus" ></i>&nbsp;
                        Ajouter une victime</button>
                    &nbsp;
                    <button class="btn btn-danger" (click)="cancel()" >
                        <i class="fa fa-times" ></i>&nbsp;
                        Annuler</button>
                    &nbsp;
                </td>                
            </tr>


        </table>
    </div>
</div>