

.title{
    font-size: 18px;
    font-weight: bold;
    padding-top: 1%;
    margin-bottom: 1%;
    border-bottom: 4px solid black;
}
.card-content {
    padding-left: 1%;
    padding-right: 1%;
}

:host::ng-deep .p-datatable .p-datatable-tbody > tr > td{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 1% !important;
}

.mat-form-field {
    width: 100%;
}
.cmh-bgcolor {
    background-color: #4CAF50;
}

.menubar {
    list-style: none;
    margin: auto;
}

.menubar li {
    float: left;
    display: block;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    text-align: center;
    border-right: 2px solid black;
    background-color: #01579B;
    color: white !important;
}

.menubar li:last-child {
    border-right: none;

}

.menubar a {
    float: left;
    display: block;
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: white;
}



.menubar li:hover {
    float: left;
    display: block;
    padding: 1%;
    text-decoration: none;
    background-color: white;
color: black !important;
}

.menubar li:hover > a {
    
color: black !important;
}

.active1 {
    background-color: white !important;
    color: black !important;
}
.active1 > a{
    color: black !important;
}