<p-toast></p-toast>
<ngx-spinner></ngx-spinner>

<div class="row">
    <div class="col-md-12">
        
        <ul class="menubar" >

            <li routerLink="/enquete/report/enquete" 
            routerLinkActive="active1"
             >
                <a>Compte rendu des enquetes</a>
            </li>
            <li routerLink="/enquete/report/infraction" 
            routerLinkActive="active1" >
                <a>Compte rendu des infractions</a>
            </li>
            <li routerLink="/enquete/report/vehiculevole" 
            routerLinkActive="active1" >
                <a>Reporting des véhicule volés</a>
            </li>
            <li 
            *ngIf="title.code != 'search-miseencause'"
            routerLink="/enquete/report/miseencause" 
            routerLinkActive="active1" >
                <a>Reporting des mises en causes</a>
            </li>

            <li 
            *ngIf="title.code == 'search-miseencause'"
            routerLink="/enquete/report/seach-miseencause" 
            routerLinkActive="active1" >
                <a>Recherche des mises en causes</a>
            </li>
            <li routerLink="/enquete/report/stupefiant" 
            routerLinkActive="active1" >
                <a>Reporting des stupéfiants</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">


    
    <div class="col-md-12 card" style="margin-top: 2%;" >
        
        <div class="row" style="padding: 1%;">
            <div *ngIf="title.code != 'search-miseencause'" class="col-md-12 title">
                COMPTE RENDU DES {{title.label}}
            </div>
            <div *ngIf="title.code == 'search-miseencause'" class="col-md-12 title">
                RECHERCHE DES {{title.label}}
            </div>
            <div class="col-md-12">
                <form name="searchForm" #searchForm="ngForm" >
                    <table style="width:100%" >
                        <tr>
                        
                            <td 
                            *ngIf="title.code != 'search-miseencause'"
                            >
                                <mat-form-field style="width: 90%;" >
                                    <mat-label>Du</mat-label>
                                    <input matInput 
                                    [(ngModel)]="seachDto.debut"
                                    name="datedebut"
                                    [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                    
                            </td>
                            
                            <td *ngIf="title.code != 'search-miseencause'" >
                                <mat-form-field style="width: 90%;" >
                                    <mat-label>Au</mat-label>
                                    <input matInput 
                                    [(ngModel)]="seachDto.fin"
                                    name="dateFin"
                                    [matDatepicker]="picker0">
                                    <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                                    <mat-datepicker #picker0></mat-datepicker>
                                  </mat-form-field>
                            </td>

                             <td style="width: 30%;" *ngIf="title.code == 'miseencause' || title.code == 'search-miseencause'" >
                              
                                  <mat-form-field class="">
                                    <mat-label>Nom</mat-label>
                                    <input matInput
                                    [(ngModel)]="seachDto.nomLike"
                                    name="nomLike"
                                    required
                                    >
                                  </mat-form-field> 
                            </td>

                            <td *ngIf="title.code == 'infraction'" >
                                <mat-form-field class="">
                                    <mat-label>Reference procédure</mat-label>
                                    <input matInput
                                    [(ngModel)]="seachDto.referenceProcedureLike"
                                    name="referenceProcedureLike"
                                    
                                    >
                                  </mat-form-field> 
                            </td>


                            
                            
                        </tr>
                        <tr *ngIf="title.code == 'enquete'" >
                            <td>
                                <mat-form-field>
                                    <mat-label>Délégation</mat-label>
                                    <mat-select 
                                    [(ngModel)]="delegation"
                                    name="delegation"
                                    (selectionChange)="getUnite($event)"
                                    [required]="true"
                                     >
                                    <mat-option *ngFor="let item of delegations | orderBy" [value]="item">
                                    {{item}}
                                    </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </td>

                            <td  >
                                <mat-form-field>
                                    <mat-label>Unité</mat-label>
                                    <mat-select 
                                    [(ngModel)]="seachDto.unite"
                                    name="unite"
                                    [required]="true"
                                     >
                                    <mat-option *ngFor="let item of unites | orderBy" [value]="item">
                                    {{item}}
                                    </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: left;" >
                                <button 
                                [disabled]="searchForm.form.invalid"
                                (click)="loadDatas()" class="btn btn-info cmh-bgcolor" style="width: 150px;" >
                                    <i class="fa fa-search" ></i>
                                    Rechercher
                                </button>
                            </td>
                        </tr>
                        
                    </table>
                </form>
            </div>

            <div class="col-md-12" style="margin-top: 3%;">
    <p-table #dt1 [columns]="title.cols" [value]="datas" [paginator]="true" [rows]="6"
        [responsive]="true"
        selectionMode="single" 
        [(selection)]="selectedItem"
        dataKey="id"
        (onRowSelect)="onRowSelect($event)"
        [globalFilterFields]="['nom', 'prenom','nature','marque', 'nature', 'referenceProcedure','infractionCommises', 'categorie', 'localite.region','localite.departement']"
        [style]="{'font-size':'14px', 'width':'100%'}"
         >
            <ng-template pTemplate="caption">
                 

                <button (click)="extractDatas()" 
                [disabled]="datas.length == 0"
                class="btn btn-info cmh-bgcolor" >
                    <i class="fa fa-table" ></i>
                    Extraire (CSV)
                </button> 
                &nbsp;
                <button (click)="exportPdf()" 
                [disabled]="datas.length == 0"
                class="btn btn-info cmh-bgcolor" >
                    <i class="fa fa-file" ></i>
                    Extraire (PDF)
                </button> 
                &nbsp;
                <button *ngIf="title.code == 'infraction'" (click)="showChart()" 
                [disabled]="datas.length == 0"
                class="btn btn-info cmh-bgcolor" >
                    <i class="fa fa-pencil" ></i>
                    Graphe
                </button> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field style="width: 20%;" class="">
                    <mat-label>Rechercher</mat-label>
                    <input matInput
                    (input)="dt1.filterGlobal($event.target.value, 'contains')"
                    name="recherche"
                    
                    >
                  </mat-form-field> 
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr *ngIf="title.code == 'victime'" >
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Sexe</th>
                    <th>Nationalité</th>
                    <th>Adresse</th>
                    <th>Etat</th>
                </tr>
                <tr *ngIf="title.code == 'miseencause' || title.code == 'search-miseencause'"  >
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th style="width: 6%;" >Sexe</th>
                    <th style="width: 20%;" >Infractions</th>
                    <th>Date Infractions</th>
                    <th>Implication</th>
                    <th>Situation</th>
                    <th>GAV</th>
                    <th style="width: 6%;" >Etat</th>
                </tr>
                <tr *ngIf="title.code == 'enquete'" >
                    <th>Reference procédure</th>
                    <th>Affaire</th>
                    <th>Victime</th>
                    <th>Mise en cause</th>
                    <th>Cadre juridique</th>
                    <th>Parquet correspondant</th>
                </tr>
                <tr *ngIf="title.code == 'infraction'" >
                    <th>Categorie de l infraction</th>
                    <th>Infraction comise</th>
                    <th>Date infraction</th>
                    <th>Type saisie</th>
                    <th>Reference de saisie</th>
                    <th>Village (ou Quartier)</th>
                    <th>Localité</th>
                </tr>
            
                <tr *ngIf="title.code == 'stupefiant'" >
                    <th>Nature</th>
                    <th>Quantité</th>
                    <th>Provenance</th>
                    <th>Destination</th>
                    <th>Etat</th>
                </tr>
                <tr *ngIf="title.code == 'vehiculevole'" >
                    <th>Marque</th>
                    <th>Immatriculation</th>
                    <th>Etat</th>
                    <th>Chasis</th>
                    <th>Propriétaire</th>
                </tr>
            </ng-template>

            <!-- BODU -->
            <ng-template pTemplate="body" let-data>
                <tr [pSelectableRow]="data" *ngIf="title.code == 'victime'"  >
                    <td> {{data.nom}} </td>
                    <td> {{data.prenom}} </td>
                    <td> {{data.sexe}} </td>
                    <td> {{data.nationalite}} </td>
                    <td> {{data.adresse}} </td>
                    <td> {{data.etat}} </td>
                </tr> 
                
                <tr [pSelectableRow]="data" *ngIf="title.code == 'miseencause' || title.code == 'search-miseencause'"  >
                    <td> {{data.nom}} </td>
                    <td> {{data.prenom}} </td>
                    <td> {{data.sexe}} </td>
                    <td> {{data.infractionCommise}} </td>
                    <td> {{data.date | date:'dd/MM/yyyy' }} </td>
                    <td> {{data.implication}} </td>
                    <td> {{data.situation}} </td>
                    <td> {{data.gav | gav}} </td>
                    <td> {{data.etat}} </td>
                </tr>
                
                <tr [pSelectableRow]="data" *ngIf="title.code == 'vehiculevole'"  >
                    <td> {{data.marque}} </td>
                    <td> {{data.immatriculation}} </td>
                    <td> {{data.etat}} </td>
                    <td> {{data.chasis}} </td>
                    <td> {{data.proprietaire}} </td>
                </tr>

                <tr [pSelectableRow]="data" *ngIf="title.code == 'enquete'"  >
                    <td> {{data.referenceProcedure}} </td>
                    <td> {{data.affaire}} </td>
                    <td> {{data | victime}} </td>
                    <td> {{data | miseencause}} </td>
                    <td> {{data.cadreJuridique | cadreJuridique}} </td>
                    <td> {{data.parquetCompetant}} </td>
                </tr>

                <tr [pSelectableRow]="data" *ngIf="title.code == 'infraction'"  >
                    <td> {{data.categorie}} </td>
                    <td> {{data.infractionCommises}} </td>
                    <td> {{data.date | date:'dd/MM/yyyy'}} </td>
                    <td> {{data.typeSaisie | typeSaisie}} </td>
                    <td> {{data.rreferenceSaisie}} </td>
                    <td> {{data.adressePrecise}} </td>
                    <td> {{data.localite.region}} </td>
                </tr>

                <tr [pSelectableRow]="data" *ngIf="title.code == 'stupefiant'"  >
                    <td> {{data.nature}} </td>
                    <td> {{data.quantite}} </td>
                    <td> {{data.provenance}} </td>
                    <td> {{data.destinattion}} </td>
                    <td> {{data.etat}} </td>
                </tr>
            </ng-template>
        </p-table>
            </div>
        </div>

        
    
    </div>
</div>
