<p-toast></p-toast>

<div class="row">
    <div class="col-md-12">
        <table style="width: 100%;" >
            <tr>
                <td class="title" >
                    <h3>Information Véhicule volé</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field  style="width: 100%;"class="">
                        <mat-label>Marque</mat-label>
                        <input type="text"
                               aria-label="Number"
                               matInput
                               [(ngModel)]="vehicule.marque"
                                name="marque"
                                [formControl]="myControl"
                               [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" 
                        [displayWith]="displayFn" >
                          <mat-option *ngFor="let option of filterMarques | async" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field style="width: 100%;" class="">
                        <mat-label>Chasis</mat-label>
                        <input matInput
                        [(ngModel)]="vehicule.chasis"
                        name="chasis"
                        required
                        >
                      </mat-form-field> 
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field style="width: 100%;" class="">
                        <mat-label>Immatriculation</mat-label>
                        <input matInput
                        [(ngModel)]="vehicule.immatriculation"
                        name="immatriculation"
                        required
                        >
                      </mat-form-field> 
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field style="width: 100%;" class="">
                        <mat-label>Propriétaire</mat-label>
                        <input matInput
                        [(ngModel)]="vehicule.proprietaire"
                        name="proprietaire"
                        required
                        >
                      </mat-form-field> 
                </td>
            </tr>
            <tr>
                <td >
                    <mat-form-field style="width: 100%;" >
                        <mat-label>Etat</mat-label>
                        <mat-select 
                        [(ngModel)]="vehicule.etat"
                        name="etat"
                        [required]="true"
                         >
                        <mat-option *ngFor="let item of etat" [value]="item.code">
                        {{item.label}}
                        </mat-option>
                        </mat-select>
                      </mat-form-field>
                </td>
            </tr>
            
            <tr>
                <td>
                    <button class="btn btn-primary" 
                    *ngIf="type != 'edit'"
                    (click)="save()" >
                        <i class="fa fa-check" ></i>&nbsp;
                        Sauvegarder et quitter
                    </button>

                    <button class="btn btn-primary" 
                    *ngIf="type == 'edit'"
                    (click)="edit()" >
                        <i class="fa fa-check" ></i>&nbsp;
                        Modifier
                    </button>
                    &nbsp;
                    <button *ngIf="data.obj !=null" class="btn btn-info" (click)="addNew()" >
                        <i class="fa fa-plus" ></i>&nbsp;
                        Ajouter un véhicule</button>
                    &nbsp;
                    <button *ngIf="data.obj ==null"  class="btn btn-danger" (click)="delete()" >
                        <i class="fa fa-trash" ></i> &nbsp;
                        Supprimer
                    </button>
                    &nbsp;
                    <button class="btn btn-warning" (click)="cancel()" >
                        <i class="fa fa-times" ></i>&nbsp;
                        Annuler</button>
                    &nbsp;
                </td>                
            </tr>


        </table>
    </div>
</div>