.title{
    font-weight: bold;
    font-size: 16px;
    border-bottom: 4px solid black;
}


table {
    background-color: whitesmoke;
    border-radius: 4px;

}

.mat-form-field{
    width: 95% !important;
}

.form {
    padding: 0px !important;
}



.td-title{
    padding-top: 2%;
}

td {
    padding-left: 2%;
    padding-right: 2%;
}

.upper {
    text-transform: uppercase;
}
.capital {
    text-transform: capitalize;
}

.cmh-bgcolor {
    background-color: #4CAF50;
}