 <!-- FORM -->
 <div class="col-md-12 form ">
    <form name="profilForm" #profilForm="ngForm" >
        <table style="width: 100%;" cellpadding="4px" >
            <tr>
                <td class="td-title" colspan="6" >
                    <h4 class="title" > INFORMATION PROFIL </h4>
                </td>
            </tr>
            <tr>

                <td>
                    <mat-form-field class="">
                        <mat-label>Libelle</mat-label>
                        <input matInput
                        [(ngModel)]="profil.roleName"
                        name="roleName"
                        required
                        >
                      </mat-form-field>
                </td>

                <td>
                    <mat-form-field class="">
                        <mat-label>Description</mat-label>
                        <input matInput
                        [(ngModel)]="profil.description"
                        name="nom"
                        >
                      </mat-form-field>
                </td>

                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Habilitations</mat-label>
                        <mat-select 
                        [(ngModel)]="profil.privileges"
                        name="privileges"
                        [required]="true"
                        multiple >
                        <mat-optgroup *ngFor="let group of habilitations" [label]="group.name"
                        [disabled]="group.disabled">
                            <mat-option *ngFor="let item of group.privileges" [value]="item.code">
                            {{item.name}}
                            </mat-option>
                        </mat-optgroup>
                          <!--<mat-option *ngFor="let s of habilitations | orderBy:'name'" [value]="s.code">{{s.name}}</mat-option>-->
                        </mat-select>
                      </mat-form-field>
                </td>
            </tr>

            <tr>
                <td colspan="3" style="text-align: center; padding-bottom: 2%; padding-top: 2%;" >
                    <button 
                    (click)="add()" 
                    [disabled]="profilForm.form.invalid"
                    class="btn btn-primary" style="background-color: #4CAF50; border: none; width: 150px;"  >
                        <i class="fa fa-check" ></i>
                        Sauvegarder</button> &nbsp;

                    <button mat-button mat-dialog-close (click)="cancel()" class="btn btn-danger" style="width: 150px" >
                        <i class="fa fa-times" ></i>
                        Annuler</button>
                </td>
            </tr>
            
        </table>
    </form>
</div>