<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <div 
            *ngxPermissionsOnly="['SAISI_FORM','ADMINISTRATEUR','ENQUETEUR','EDIT_DATA', 'DELETE_DATA']"
            class="col-md-2 card"
            (click)="gotomodule('enquete')"
            >
                <span style="font-size: 30px;" >
                    <i class="fa fa-users" ></i>
                   </span>
                   &nbsp;&nbsp;
                    <span>
                        INFRACTIONS
                    </span>
            </div>

            
            <!---->

            

            <!---->
        
            <div 
            *ngxPermissionsOnly="['ADMIN_EDIT_USER','ADMIN_ADD_PROFIL', 'ADMIN_DEL_USER','ADMIN_INIT_USER','ADMIN_MANG_PERMISSIONS']"
            class="col-md-2 card"
            (click)="gotomodule('administration')"
            >
                <span style="font-size: 30px;" >
                    <i class="fa fa-cogs" ></i>
                   </span>
                   &nbsp;&nbsp;
                    <span>
                        ADMINISTRATION
                    </span>
            </div>
        </div>
    </div>
</div>