.card {
    cursor: pointer;
    margin: 3%;
    padding: 1%;
    font-weight: bold;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card:hover {

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.box {
    background-color: whitesmoke;
    margin-top: 3%;
}


/******* BEAUTIFUL CSS CARD **/
