<p-toast></p-toast>

<div class="row">
    <div class="col-md-12">
        <form name="mecForm" #mecForm="ngForm">

            <table style="width: 100%;" >
                <tr>
                    <td class="title" >
                        <h3>Information Mise en Cause</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field  style="width: 100%;"class="">
                            <mat-label>Nom</mat-label>
                            <input type="text"
                                   aria-label="Number"
                                   matInput
                                   [(ngModel)]="miseencause.nom"
                                    name="nom"
                                    [formControl]="myControl"
                                   [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" 
                            [displayWith]="displayFn" >
                              <mat-option *ngFor="let option of filterNoms | async" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field style="width: 90%;" class="">
                            <mat-label>Prenom</mat-label>
                            <input matInput
                            [(ngModel)]="miseencause.prenom"
                            name="prenom"
                            
                            >
                          </mat-form-field> 
                    </td>

                    <td>
                        <mat-form-field style="width: 90%;" class="">
                            <mat-label>Alias</mat-label>
                            <input matInput
                            [(ngModel)]="miseencause.alias"
                            name="alias"
                            
                            >
                          </mat-form-field> 
                    </td>
                </tr>
    
                    <tr>
                        
                        <td>
                            <mat-form-field style="width: 90%;" >
                                <mat-label>Selectionner le sexe</mat-label>
                                <mat-select 
                                [(ngModel)]="miseencause.sexe"
                                name="privileges"
                                [required]="true"
                                 >
                                <mat-option *ngFor="let item of typeSexe" [value]="item.code">
                                {{item.label}}
                                </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </td>

                        <td>
                            <mat-form-field style="width: 90% !important;" color="accent" >
                                <mat-label>Date de naissance</mat-label>
                                <input matInput
                                [(ngModel)]="miseencause.dateNaissance"
                                name="dateNaissance"
                                readonly
                                
                                [matDatepicker]="picker1"
                                >
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                              </mat-form-field>
                        </td>
                        <td>
                            <mat-checkbox class="example-margin" 
                            [(ngModel)]="miseencause.neevers"
                            [disabled]="miseencause.dateNaissance == null"
                            name="neevers"
                            >
                            Née vers
                        </mat-checkbox>
                        </td>
                        
                    </tr>
                
            
    
                <tr>

                    <td>
                        <mat-form-field style="width: 90%;" class="">
                            <mat-label>Lieu de naissance</mat-label>
                            <input matInput
                            [(ngModel)]="miseencause.lieuNaissance"
                            name="lieuNaissance"
                            
                            >
                          </mat-form-field> 
                    </td>
                    <td>

                          <mat-form-field style="width: 90%;" >
                            <mat-label>Nationalité</mat-label>
                            <mat-select 
                            [(ngModel)]="miseencause.cameroonian"
                            name="nationalite"
                            [required]="true"
                             >
                            <mat-option *ngFor="let item of nationality | orderBy" [value]="item.code">
                            {{item.label}}
                            </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </td>
                    <td >
                        <mat-form-field style="width: 90%;" class="">
                            <mat-label>Adresse</mat-label>
                            <input matInput
                            [(ngModel)]="miseencause.adresse"
                            name="adresse"
                            
                            >
                          </mat-form-field> 
                    </td>


                    
                </tr>
    
                <tr>

                    <td>
                        <mat-form-field style="width: 90%;" class="">
                            <mat-label>Téléphone</mat-label>
                            <input matInput
                            [(ngModel)]="miseencause.telephone"
                            name="telephone"
                            
                            >
                          </mat-form-field> 
                    </td>
                    <td>
    
                        <mat-form-field style="width: 90%;" class="">
                          <mat-label>Numéro CNI</mat-label>
                          <input matInput
                          [(ngModel)]="miseencause.numeroCni"
                          name="numeroCni"
                          
                          
                          >
                        </mat-form-field> 
                  </td>
                    <td>
                        <mat-form-field style="width: 90%;" >
                            <mat-label>Garde à vue</mat-label>
                            <mat-select 
                            [(ngModel)]="miseencause.gav"
                            name="etat"
                            [required]="true"
                             >
                            <mat-option *ngFor="let item of gav" [value]="item.code">
                            {{item.label}}
                            </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </td>
    

                </tr>
    
                <tr>
                    <td>
                        <mat-form-field style="width: 90%;" >
                            <mat-label>Implication</mat-label>
                            <mat-select 
                            [(ngModel)]="miseencause.implication"
                            name="implication"
                            [required]="true"
                             >
                            <mat-option *ngFor="let item of implication" [value]="item.code">
                            {{item.label}}
                            </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </td>
                    <td >
                        <mat-form-field style="width: 90%;" >
                            <mat-label>Situation</mat-label>
                            <mat-select 
                            [(ngModel)]="miseencause.situation"
                            name="situation"
                            [required]="true"
                             >
                            <mat-option *ngFor="let item of situation" [value]="item.code">
                            {{item.label}}
                            </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </td>
                    <td >
                        <mat-form-field style="width: 90%;" >
                            <mat-label>Etat</mat-label>
                            <mat-select 
                            [(ngModel)]="miseencause.etat"
                            name="etat"
                            [required]="true"
                             >
                            <mat-option *ngFor="let item of etat" [value]="item.code">
                            {{item.label}}
                            </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </td>
                </tr>
                
    
    
                <tr>
                    <td colspan="2" >
                        <button 
                        *ngIf="type != 'edit'"
                        class="btn btn-primary" 
                        [disabled]="mecForm.form.invalid"
                        (click)="save()" >
                            <i class="fa fa-check" ></i> &nbsp;
                            Sauvegarder
                        </button>

                        <button 
                        *ngIf="type == 'edit'"
                        class="btn btn-primary" 
                        [disabled]="mecForm.form.invalid"
                        (click)="edit()" >
                            <i class="fa fa-check" ></i> &nbsp;
                            Modifier
                        </button>
                        &nbsp;
                        <button *ngIf="data.obj !=null"  class="btn btn-info" 
                        [disabled]="mecForm.form.invalid"
                        (click)="addNew()" >
                            <i class="fa fa-plus" ></i> &nbsp;
                            Ajouter un mise en cause
                        </button>
    
                        <button 
                        *ngxPermissionsOnly="['DELETE_DATA']"
                        [disabled]="data.obj !=null"  class="btn btn-danger" (click)="delete()" >
                            <i class="fa fa-plus" ></i> &nbsp;
                            Supprimer
                        </button>
                        &nbsp;
                        <button class="btn btn-danger" (click)="cancel()" >
                            <i class="fa fa-times" ></i>&nbsp;
                            Annuler
                        </button>
    
                    </td>                
                </tr>
            </table>

        </form>
    </div>
</div>