.sidebar-logo {
    padding: 10px 15px 10px 30px;
    font-size: 20px;
    background-color: #2574A9;
  }

  .sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }

  .sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 20px;
  }
  
  .sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: #fff;
  }

  .active {
    background-color: #039BE5 !important;
    color: black !important;
  }

  .active0 {
    background-color: #A5D6A7;
  }
  
  .sidebar-navigation li .fa {
    margin-right: 10px;
  }

  .first {
    cursor: pointer;
  }
  
  .sidebar-navigation .first a:active,
  .active,
  .sidebar-navigation .first a:hover,
  .sidebar-navigation li a:focus > a{
    text-decoration: none;
    outline: none;
  }
  
  .sidebar-navigation .first::hover > a {
    background-color: #039BE5;
    color: black !important;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
  }

.sidebar-navigation li .active::before {
    width: 100%;
}
  .sidebar-navigation li:hover::before {
    width: 100%;
  }


  .sidebar-header {
    padding: 7%;
    padding-left: 10%;
    font-size: 18px;
  }

  .second:hover > a{
    background-color: #039BE5;
    color: black !important;
    cursor: pointer;
  }

  .first:hover > a{
    background-color: #039BE5;
    color: black !important;
    cursor: pointer;
  }

  .show {
    display: none;
    width: 100%;
    background-color: black;
    color: white;
  }

  .show1 {
    display: none;
    width: 100%;
    color: white;
  }
  
  .sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #151515;
    padding: 10px 15px 10px 30px;
  }
  
  .sidebar-navigation .header::before {
    background-color: transparent;
  }

  