<div class="sidebar-header">
    ACCUEIL
</div>

  <ul class="sidebar-navigation">
    <!--<li > 
      <a routerLink="/administration/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
        <i class="fa fa-home" aria-hidden="true"></i> Tableau de bord
      </a>
    </li>-->
    <li 
    *ngxPermissionsOnly="['SAISI_FORM']"

    class="first" >
      <a routerLink="/enquete/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
        <i class="fa fa-shield" aria-hidden="true"></i> Saisine Donnée Criminelles
      </a>
    </li>

    <li 
    *ngxPermissionsOnly="['EDIT_DATA', 'DELETE_DATA']"
    class="first" >
      <a routerLink="/enquete/report/search-miseencause" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
        <i class="fa fa-shield" aria-hidden="true"></i> Recherche des mise en cause
      </a>
    </li>

    <li 
    *ngxPermissionsOnly="['EDIT_DATA', 'DELETE_DATA']"
    class="first"  [ngClass]="{ 'active': inReport }" >
      <a routerLink="/enquete/report" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
        <i class="fa fa-id-card" aria-hidden="true"></i> Reporting &nbsp;
        </a>
    </li>
 
    <li 
    *ngxPermissionsOnly="['EDIT_DATA', 'DELETE_DATA']"
    class="first"  >
      <a routerLink="/enquete/statistique" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
        <i class="fa fa-id-card" aria-hidden="true"></i> Statistique &nbsp;
        </a>
    </li>

    <!-- -->
    

    
  </ul>