
<div class="row">
      <div class="col-md-12">
          <form name="infForm" #infForm="ngForm">
              <table style="width: 100%;" >
                  <tr>
                      <td class="title" >
                          <h3>Parametrage des localités</h3>
                      </td>
                  </tr>
                  <tr>
                      <td>
                        <mat-form-field style="width: 90%;" >
                              <mat-label>Selectionner la région</mat-label>
                              <mat-select 
                              [(ngModel)]="region"
                              name="region"
                              (selectionChange)="getDepartement($event,false)"
                              [required]="true"
                               >
                              <mat-option *ngFor="let item of regions" [value]="item">
                              {{item}}
                              </mat-option>
                              </mat-select>
                            </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width: 90%;" >
                              <mat-label>Selectionner le departement</mat-label>
                              <mat-select 
                              [(ngModel)]="tmpDepartement"
                              name="tmpDepartement"
                              (selectionChange)="getArrondissement($event,false)"
                              [required]="true"
                               >
                              <mat-option *ngFor="let item of departements" [value]="item">
                              {{item}}
                              </mat-option>
                              </mat-select>
                            </mat-form-field>
                      </td>

                      <td>
                        <mat-form-field style="width: 90%;" >
                              <mat-label>Selectionner l'arrondissement</mat-label>
                              <mat-select 
                              [(ngModel)]="tmpArrondissement"
                              name="tmpArrondissement"
                              [required]="true"
                               >
                              <mat-option *ngFor="let item of arrondissements" [value]="item">
                              {{item}}
                              </mat-option>
                              </mat-select>
                            </mat-form-field>
                      </td>

                  
                  </tr>

                  <tr *ngIf="tmpDepartement == 'AUTRE' || tmpArrondissement == 'AUTRE' " >
                        
                              <td *ngIf="tmpDepartement == 'AUTRE'" >
                                    <mat-form-field style="width: 90%;" class="">
                                        <mat-label>Departement</mat-label>
                                        <input matInput
                                        [(ngModel)]="departement"
                                        name="departement"
                                        
                                        >
                                      </mat-form-field> 
                                </td>

                                <td *ngIf="tmpArrondissement == 'AUTRE'" >
                                    <mat-form-field style="width: 90%;" class="">
                                        <mat-label>Arrondissement</mat-label>
                                        <input matInput
                                        [(ngModel)]="arrondissement"
                                        name="arrondissement"
                                        
                                        >
                                      </mat-form-field> 
                                </td>
                        
                  </tr>

      
      
                  <tr>
                      <td colspan="2" >
                          <button 
                          class="btn btn-primary" 
                          [disabled]="infForm.form.invalid"
                          (click)="save()" >
                              <i class="fa fa-check" ></i> &nbsp;
                              Terminer
                          </button>
                          &nbsp;
                          
      
                          &nbsp;
                          <button class="btn btn-danger" (click)="cancel()" >
                              <i class="fa fa-times" ></i>&nbsp;
                              Quitter
                          </button>
      
                      </td>                
                  </tr>
              </table>
  
          </form>
      </div>
  </div>