<p-toast></p-toast>
<ngx-spinner></ngx-spinner>

<div class="row justify-content-center">


        <input type="file" (change)="onFileChange($event, 'unite')" id="actual-btn" hidden/>
        <label 
        *ngIf="routeType == 'unite'" 

        for="actual-btn">
            Importer les unités
        </label>

        <input type="file" 
        (change)="onFileChange($event, 'localite')" id="actual-btn0"  hidden/>
        <label 
        *ngIf="routeType == 'localite'" 

        for="actual-btn0">
            Importer les localités
        </label>




<div *ngIf="type == 'unite'"class="col-md-12">
    <div class="col-md-12">
        <p-table #dt1 [value]="unites"
        [responsive]="true"
        [responsive]="true"
        [paginator]="true"
        [rows]="13"
        [style]="{'font-size':'14px', 'width':'100%'}"
        >
            <ng-template pTemplate="caption">
                Liste des unités chargés &nbsp;&nbsp;
                <button 
                (click)="saveDatas()" 
                class="btn btn-info" style="background-color: #43A047;" >
                    Enregistrer
                </button>
                &nbsp;&nbsp;
                <button 
                (click)="addUnit()" 
                class="btn btn-info" style="background-color: #43A047;" >
                    Ajouter une unité
                </button>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 33%;" >Délégations</th>
                    <th style="width: 33%;" >Unité</th>
                    <th style="width: 10%;" >Action</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car>
                <tr>
                    <td>{{car.delegation}}</td>
                    <td>{{car.unite}}</td>
                    <td>
                        <button 
                        (click)="editUnit(car)"
                        class="btn btn-info" >
                            <i class="fa fa-edit" ></i>
                        </button>
                        &nbsp;
                        <button 
                        (click)="deleteUnit(car)"
                        class="btn btn-danger" >
                            <i class="fa fa-trash" ></i>
                        </button>
                    </td>
                    
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>



<div  *ngIf="type == 'localite'" class="col-md-12">
    <div class="col-md-12">
        <p-table #dt1 [value]="localites"
        [responsive]="true"
        [responsive]="true"
        [paginator]="true"
        [rows]="13"
        [style]="{'font-size':'14px', 'width':'100%'}"
        >
            <ng-template pTemplate="caption">
                Liste des localités chargés &nbsp;&nbsp;
                <button 
                (click)="saveDatas()" 
                [disabled]="localites.length < 1"
                class="btn btn-info" style="background-color: #43A047;" >
                    Enregistrer
                </button>&nbsp;&nbsp;
                <button 
                (click)="addLocalite()" 
                class="btn btn-info" style="background-color: #43A047;" >
                    Ajouter une localité
                </button>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 20%;" >Régions</th>
                    <th style="width: 33%;" >Département</th>
                    <th style="width: 33%;" >Arrondissement</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car>
                <tr>
                    <td>{{car.region}}</td>
                    <td>{{car.departement}}</td>
                    <td>{{car.arrondissement }}</td>
                    <!--<td>
                        <button 
                        (click)="editLocalite(car)"
                        class="btn btn-info" >
                            <i class="fa fa-edit" ></i>
                        </button>
                        &nbsp;
                        <button 
                        (click)="deleteLocalite(car)"
                        class="btn btn-danger" >
                            <i class="fa fa-trash" ></i>
                        </button>
                    </td>-->
                    


                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
</div>