<p-toast></p-toast>

<div class="row">
    <div class="col-md-12">

        <table style="width: 100%;" >
            <tr>
                <td class="title" >
                    <h3>Information Ifraction</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field style="width: 90%;" >
                        <mat-label>Region</mat-label>
                        <mat-select 
                        [(ngModel)]="locality.region"
                        name="region"
                        (selectionChange)="getDepartement1($event)"
                        [required]="true"
                         >
                        <mat-option *ngFor="let item of regions | orderBy" [value]="item">
                        {{item}}
                        </mat-option>
                        </mat-select>
                      </mat-form-field>
                </td>
                <td>
                    <mat-form-field style="width: 90%;" >
                        <mat-label>Departement</mat-label>
                        <mat-select 
                        [(ngModel)]="locality.departement"
                        name="departement"
                        (selectionChange)="getArrondissement1($event)"
                        [required]="true"
                         >
                        <mat-option *ngFor="let item of departements | orderBy" [value]="item">
                        {{item}}
                        </mat-option>
                        </mat-select>
                      </mat-form-field>
                </td>

                <td>
                    <mat-form-field style="width: 90%;" >
                        <mat-label>Arrondissement</mat-label>
                        <mat-select 
                        [(ngModel)]="locality.arrondissement"
                        name="arrondissement"
                        (selectionChange)="getUnite1($event)"
                        [required]="true"
                         >
                        <mat-option *ngFor="let item of arrondissements | orderBy" [value]="item">
                        {{item}}
                        </mat-option>
                        </mat-select>
                      </mat-form-field>
                </td>

            </tr>

                <tr>

                    <td>
                        <mat-form-field style="width: 90%;">
                            <mat-label>Unité</mat-label>
                            <input type="text"
                                   aria-label="Number"
                                   matInput
                                   [(ngModel)]="locality.unite"
                                    name="unite"
                                    [formControl]="myControl"
                                   [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" 
                            [displayWith]="displayFn" >
                              <mat-option *ngFor="let option of filterUnites | async" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                    </td>


                    <td>
                        <mat-form-field style="width: 90%;" >
                          <mat-label>Infraction comise</mat-label>
                          <mat-select 
                          [(ngModel)]="infractionCommises"
                          name="infractionCommise"
                          (selectionChange)="getInfractions1($event)"
                          
                          [required]="true"
                           >
                          <mat-option *ngFor="let item of infractions | orderBy" [value]="item">
                          {{item}}
                          </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>


                    <td >
                        <mat-form-field style="width: 90%;" class="">
                            <mat-label>Categorie infraction</mat-label>
                            <input matInput
                            [(ngModel)]="infraction.categorie"
                            name="categorie"
                            readonly
                            required
                            >
                          </mat-form-field> 
                    </td>
                </tr>

            <tr>
                <td>
                    <mat-form-field style="width: 90%;" >
                        <mat-label>Type de la saisie</mat-label>
                        <mat-select 
                        [(ngModel)]="infraction.typeSaisie"
                        name="privileges"
                        [required]="true"
                         >
                        
                        <mat-option *ngFor="let item of typeSaisie | orderBy: 'label'" [value]="item.code">
                        {{item.label}}
                        </mat-option>
                          <!--<mat-option *ngFor="let s of habilitations | orderBy:'name'" [value]="s.code">{{s.name}}</mat-option>-->
                        </mat-select>
                      </mat-form-field>
                </td>

                <td>
                    <mat-form-field style="width: 90%;">
                        <mat-label>Reference de la sisie</mat-label>
                        <input matInput
                        [(ngModel)]="infraction.rreferenceSaisie"
                        name="rreferenceSaisie"
                        required
                        >
                      </mat-form-field> 
                </td>
                <td>
                    <mat-form-field style="width: 90% !important;" color="accent" >
                        <mat-label>Le</mat-label>
                        <input matInput
                        [(ngModel)]="infraction.date"
                        name="dateSaisie"
                        readonly
                        required
                        [matDatepicker]="picker1"
                        >
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                  </td>
            </tr>
            <tr>
                
            </tr>



            <tr>
                <td colspan="3" >
                    <button class="btn btn-primary" (click)="save()" >
                        <i class="fa fa-check" ></i>&nbsp;
                        Sauvegarder et quitter
                    </button>
                    &nbsp;
                    <button class="btn btn-danger" (click)="delete()" >
                        <i class="fa fa-trash" ></i>&nbsp;
                        Supprimer
                    </button>
                    &nbsp;
                    

                </td>                
            </tr>
        </table>
    </div>
</div>