<div class="row">
    <div class="col-md-12">
        <table style="width: 100%;" >
            <tr>
                <td colspan="8" >Localité</td>
            </tr>
            <tr>
                <td>Région</td>
                <td>{{enquete.infraction.localite.region}}</td>

                <td>Département</td>
                <td>{{enquete.infraction.localite.departement}}</td>

                <td>Arrondissement</td>
                <td>{{enquete.infraction.localite.arrondissement}}</td>

                <td>Unoté</td>
                <td>{{enquete.infraction.localite.unite}}</td>
            </tr>
        </table>

        <table style="width: 100%;" >
            <tr>
                <td style="width: 35% !important" >Type de la saisine</td>
                <td>{{enquete.infraction.typeSaisie}}</td>
            </tr>
            <tr>
                <td>Reférence de la saisine</td>
                <td>{{enquete.infraction.rreferenceSaisie}}</td>
            </tr>
            <tr>
                <td>Catégorie infraction</td>
                <td>{{enquete.infraction.categorie}}</td>
            </tr>
            <tr>
                <td>Infractions comises</td>
                <td>{{enquete.infraction.infractionCommises}}</td>
            </tr>

            <tr>
                <td>Date et lieu</td>
                <td>{{enquete.infraction.date}} à {{enquete.infraction.adressePrecise}}</td>
            </tr>
        </table>

        <table style="width: 100%;" >
            <tr>
            <td style="width: 35%;"  >Reference de la procédure</td>
            <td>{{enquete.referenceProcedure}}</td>
            </tr>
            <tr>
            <td style="width: 35%;" >Parquet compétant</td>
            <td>{{enquete.parquetCompetant}}</td>
            </tr>
            <tr>
                <td style="width: 35%;" >Affaire</td>
                <td>{{enquete.affaire}}</td>
            </tr>
            <tr>
                <td style="width: 35%;" >Cadre juridique</td>
                <td>{{enquete.cadreJuridique}}</td>
            </tr>
            <tr>
                <td style="width: 35%;" >Nom, prénom et grade de l'OPJ</td>
                <td>{{enquete.coordonneesOpj}}</td>
            </tr>
            <tr>
                <td style="width: 35%;" >Résumé des faits</td>
                <td>{{enquete.resumeFaits}}</td>
            </tr>
        </table>

        <table style="width: 100%;" >
            <tr>
                <th colspan="7" >
                    Victime
                </th>
            </tr>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Sexe</th>
                <th>Date et lieu de naissance</th>
                <th>Nationalité</th>
                <th>Adresse précise et téléphone</th>
                <th>Etat</th>
            </tr>
            <tr *ngFor="let item of enquete.victimes" >
                <td> {{item.nom}} </td>
                <td> {{item.prenom}} </td>
                <td> {{item.sexe }} </td>
                <td> {{item.dateNaissance | date: 'dd/MM/yyyy'}} à {{item.lieuNaissance}} </td>
                <td> {{item.nationalite}} </td>
                <td> {{item.adresse}}, Téléphone: {{item.telephone}} </td>
                <td> {{item.etat}} </td>
            </tr>
        </table>

        <table style="width: 100%;" >
            <tr>
                <th colspan="10" >
                    Mise en cause
                </th>
            </tr>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Sexe</th>
                <th>Date et lieu de naissance</th>
                <th>Nationalité</th>
                <th>Adresse précise et téléphone</th>
                <th>Alias</th>
                <th>Implication</th>
                <th> Garde a vue </th>
                <th>Etat</th>
            </tr>
            <tr *ngFor="let item of enquete.miseencauses" >
                <td> {{item.nom}} </td>
                <td> {{item.prenom}} </td>
                <td> {{item.sexe }} </td>
                <td> {{item.dateNaissance | date: 'dd/MM/yyyy'}} à {{item.lieuNaissance}} </td>
                <td> {{item.nationalite}} </td>
                <td> {{item.adresse}}, Téléphone: {{item.telephone}} </td>
                <td> {{item.alias}} </td>
                <td> {{item.implication}} </td>
                <td> {{item.gav}} </td>
                <td> {{item.etat}} </td>
            </tr>
        </table>

        <table style="width: 100%;" >
            <tr>
                <th colspan="3" >
                    Armes
                </th>
            </tr>
            <tr>
                <th>type</th>
                <th>Numéro</th>
                <th>Etat</th>
            </tr>
            <tr *ngFor="let item of enquete.armes" >
                <td> {{item.type}} </td>
                <td> {{item.numero}} </td>
                <td> {{item.etat}} </td>
            </tr>
        </table>

        <table style="width: 100%;" >
            <tr>
                <th colspan="4" >
                    Stupéfiants
                </th>
            </tr>
            <tr>
                <th>Nature</th>
                <th>Quantité</th>
                <th>Provenance</th>
                <th>Destination</th>
            </tr>
            <tr *ngFor="let item of enquete.stupefiants" >
                <td> {{item.nature}} </td>
                <td> {{item.quantite}} </td>
                <td> {{item.provenance}} </td>
                <td> {{item.destination}} </td>
            </tr>
        </table>

        <table style="width: 100%;" >
            <tr>
                <th colspan="4" >
                    Véhicules volés
                </th>
            </tr>
            <tr>
                <th>marque</th>
                <th>Immatriculation</th>
                <th>Propriétaire</th>
                <th>Etat</th>
            </tr>
            <tr *ngFor="let item of enquete.vehiculeVoles" >
                <td> {{item.marque}} </td>
                <td> {{item.immatriculation}} </td>
                <td> {{item.proprietaire}} </td>
                <td> {{item.etat}} </td>
            </tr>
        </table>
    </div>
</div>